@model StudentRegisterWebSite.Models.Siniflar.Duyuru
@{
    ViewBag.Title = "DuyuruGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Duyuru Güncelleme Sayısı</h2>
</br>

@using (Html.BeginForm("DuyuruGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, 15, 1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Duyuru Güncelle</button>

}

